@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@layer utilities {
  .no-spinner::-webkit-inner-spin-button,
  .no-spinner::-webkit-outer-spin-button {
    @apply appearance-none;
  }

  .no-spinner {
    -moz-appearance: textfield;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: #1b1b1b;
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
